@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: linear-gradient(135deg, #020617 0%, #0F172A 100%);
  /* Very dark slate */
  min-height: 100vh;
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-xl;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.02);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}